<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>BlindForLove</string>
	<string>blue one love</string>
	<string>Bubbly</string>
	<string>Drums</string>
	<string>Nothing in the world</string>
	<string>云水禅心</string>
	<string>优雅美声</string>
	<string>像梦一样自由</string>
	<string>净水轮回</string>
	<string>午后咖啡</string>
	<string>古琴修禅</string>
	<string>只在心里</string>
	<string>史诗前奏</string>
	<string>天籁琴绕</string>
	<string>幽玄禅音</string>
	<string>恢弘大气</string>
	<string>悦动节奏</string>
	<string>惬意时光</string>
	<string>愉悦清晨</string>
	<string>慈光禅心</string>
	<string>欢快节奏1</string>
	<string>法国浪漫</string>
	<string>玄妙过耳</string>
	<string>琴声破舱</string>
	<string>男人好难.</string>
	<string>禅静思语</string>
	<string>禅音静心</string>
	<string>舒缓自然</string>
	<string>节奏POP</string>
	<string>花开见佛</string>
	<string>贝加尔湖畔</string>
	<string>走着走着就散了</string>
	<string>镜面湖声</string>
</array>
</plist>
